
ApplicationControl/DownloadApplicationControl.bat.bak

ConfigureMicrosoftOfficeMacroSettings/DownloadOfficeMacroDisable.bat.bak

UserApplicationHardening/DownloadUserApplicationHardening-Mat1.bat.bak
